In [1]:
import pandas as pd

filepath = '/Users/cindy/Developer/SQL/sql-job-analysis/sql_result/1_top_paying_jobs.csv'

df = pd.read_csv(filepath)
markdown_table = df.to_markdown()
print(markdown_table)

|    |   job_id | job_title                                                         | company_name                 | job_location      | job_schedule_type   |   salary_year_avg | job_posted_date     |
|---:|---------:|:------------------------------------------------------------------|:-----------------------------|:------------------|:--------------------|------------------:|:--------------------|
|  0 |   226942 | Data Analyst                                                      | Mantys                       | Anywhere          | Full-time           |            650000 | 2023-02-20 15:13:33 |
|  1 |   209315 | Data base administrator                                           | ЛАНИТ                        | Belarus           | Full-time           |            400000 | 2023-10-03 11:22:20 |
|  2 |  1110602 | HC Data Analyst , Senior                                          | Illuminate Mission Solutions | Bethesda, MD      | Full-time           |            375000 | 2023-08-18 07:00:22 |
|  3 |  1147675 | Sr Data Analyst                                                   | Illuminate Mission Solutions | Bethesda, MD      | Full-time           |            375000 | 2023-04-05 12:00:12 |
|  4 |   641501 | Head of Infrastructure Management & Data Analytics - Financial... | Citigroup, Inc               | Jacksonville, FL  | Full-time           |            375000 | 2023-07-03 11:30:01 |
|  5 |   229253 | Director of Safety Data Analysis                                  | Torc Robotics                | Austin, TX        | Full-time           |            375000 | 2023-04-21 08:01:55 |
|  6 |  1059665 | Data Analyst                                                      | Anthropic                    | San Francisco, CA | Full-time           |            350000 | 2023-06-22 07:00:59 |
|  7 |   101757 | Head of Data Analytics                                            | Care.com                     | Austin, TX        | Full-time           |            350000 | 2023-10-23 05:01:05 |
|  8 |   547382 | Director of Analytics                                             | Meta                         | Anywhere          | Full-time           |            336500 | 2023-08-23 12:04:42 |
|  9 |   894135 | Research Scientist                                                | OpenAI                       | San Francisco, CA | Full-time           |            285000 | 2023-04-19 18:04:21 |