In [1]:
import pandas as pd

filepath = '/Users/cindy/Developer/SQL/sql-job-analysis/sql_result/4_top_paying_skills.csv'
df = pd.read_csv(filepath)
markdown_table = df.to_markdown()
print(markdown_table)

|    | skill        |   avg_salary |   demand_count |
|---:|:-------------|-------------:|---------------:|
|  0 | svn          |       400000 |              1 |
|  1 | solidity     |       179000 |              1 |
|  2 | couchbase    |       160515 |              1 |
|  3 | datarobot    |       155486 |              1 |
|  4 | golang       |       155000 |              2 |
|  5 | mxnet        |       149000 |              2 |
|  6 | dplyr        |       147633 |              3 |
|  7 | vmware       |       147500 |              1 |
|  8 | terraform    |       146734 |              3 |
|  9 | twilio       |       138500 |              2 |
| 10 | gitlab       |       134126 |              7 |
| 11 | kafka        |       129999 |             40 |
| 12 | puppet       |       129820 |              2 |
| 13 | keras        |       127013 |              3 |
| 14 | pytorch      |       125226 |             20 |
| 15 | perl         |       124686 |             20 |
| 16 | ansible      |       124370 |              2 |
| 17 | hugging face |       123950 |              2 |
| 18 | tensorflow   |       120647 |             24 |
| 19 | cassandra    |       118407 |             11 |
| 20 | notion       |       118092 |              6 |
| 21 | atlassian    |       117966 |             15 |
| 22 | bitbucket    |       116712 |              6 |
| 23 | airflow      |       116387 |             71 |
| 24 | scala        |       115480 |             59 |